.main-banner-wrap-layout1 {
    padding: 35.7rem 0 2rem;
}

.HomeGoogleMap {
    height: 500px;
}

.SearchGoogleMap {
    border: none;
    height: 100%;
    min-height: 450px;
}
.listing-box-list .product-box .item-content .meta-item li.ctg-name { display: block; }
.filter-box-layout1 label { font-size: 16px;}
.contact-box .item-heading:after { width: 344px; }