@model OxTots.ViewModel.AboutUsViewModel
@{ ViewBag.Title = "About Us"; }

<!-- Main Banner Area Start Here -->
<section class="main-banner-wrap-layout1 bg-common overlay-dark-30 bg--gradient-top-30" data-bg-image="@Model.Image"></section>

<!-- Feature Area Start Here -->
<section class="feature-wrap-layout1 padding-top-9p6 padding-bottom-7 bg--accent">
    <div class="container">
        <div class="section-heading heading-dark heading-center">
            <h2 class="item-title">@Model.Title</h2>
            <div class="item-sub-title">@Model.Description</div>
            <div class="item-sub-title">@Model.Description2</div>

        </div>
    </div>
</section>
<!-- Feature Area End Here -->
