@{
    ViewBag.Title = "Home Page";
}

<!-- Main Banner Area Start Here -->
<section class="main-banner-wrap-layout1 bg-common overlay-dark-30 bg--gradient-top-30" data-bg-image="/Images/figure/site-main-figure1.jpg">
    <div class="container">
        <div class="main-banner-box-layout1">
            <div class="row category-search-form">
                <div class="form-items col-12">
                    <div class="input-group stylish-input-group">
                        <input type="text" placeholder="What are you looking for?" class="form-control"
                               name="website" id="form-website" data-error="Search text required" required>
                        <span class="input-group-addon">
                            <button type="submit">
                                <i class="flaticon-search"></i>
                            </button>
                        </span>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <ul class="item-ctg">
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-chef"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Restaurant</a>
                </li>
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-dish"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Food</a>
                </li>
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-supermarket"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Shoppping</a>
                </li>
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-musical-note"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Nightclub</a>
                </li>
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-coffee-cup"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Coffee Bar</a>
                </li>
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-hotel"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Hotel</a>
                </li>
                <li class="d-none d-lg-block">
                    <p>Or Browse The Categories</p>
                    <div class="item-img">
                        <img src="/Images/figure/arrow.png" alt="Arrow">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Feature Area Start Here -->
<section class="feature-wrap-layout1 padding-top-9p6 padding-bottom-7 bg--light">
    <div class="container">
        <div class="section-heading heading-dark heading-center">
            <h2 class="item-title">Some Awesome Title</h2>
            <div class="item-sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies et tortor a mattis. Mauris congue consequat luctus. Cras pellentesque consectetur nunc nec aliquam. Aenean vitae tortor enim. Ut in tellus vitae leo aliquam accumsan eget vitae libero. Nam pretium posuere urna, vitae maximus purus facilisis a.</div>
            
        </div>
    </div>
    <div class="container-fluid">
        <div id="googleMap" class="HomeGoogleMap col-12"></div>
    </div>
</section>
<!-- Feature Area End Here -->