@{
    ViewBag.Title = "Home Page";
}

<!-- Main Banner Area Start Here -->
<section class="main-banner-wrap-layout1 bg-common overlay-dark-30 bg--gradient-top-30" data-bg-image="/Images/figure/site-main-figure1.jpg">
    <div class="container">
        <div class="main-banner-box-layout1">
            <p class="item-sub-title">Discover &amp; connect with great places around the world</p>
            <h1 class="item-title">Let’s Discover This City</h1>
            <form id="category-search-form" class="category-search-form">
                <ul class="form-items">
                    <li>
                        <div class="input-group stylish-input-group">
                            <input type="text" placeholder="What are you looking for?" class="form-control"
                                   name="website" id="form-website" data-error="Search text required" required>
                            <span class="input-group-addon">
                                <button type="submit">
                                    <i class="flaticon-search"></i>
                                </button>
                            </span>
                            <div class="help-block with-errors"></div>
                        </div>
                    </li>
                    <li>
                        <div class="input-group stylish-input-group">
                            <input type="email" placeholder="All Categories" class="form-control" name="email"
                                   id="form-email" data-error="Category name is required" required>
                            <span class="input-group-addon">
                                <button type="submit">
                                    <i class="flaticon-placeholder"></i>
                                </button>
                            </span>
                            <div class="help-block with-errors"></div>
                        </div>
                    </li>
                    <li>
                        <div class="form-group mb-0">
                            <button type="submit" class="item-btn">Search</button>
                        </div>
                    </li>
                </ul>
            </form>
            <ul class="item-ctg">
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-chef"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Restaurant</a>
                </li>
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-dish"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Food</a>
                </li>
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-supermarket"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Shoppping</a>
                </li>
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-musical-note"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Nightclub</a>
                </li>
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-coffee-cup"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Coffee Bar</a>
                </li>
                <li>
                    <a class="item-icon" href="listing-grid-view1.html"><i class="flaticon-hotel"></i></a>
                    <a href="listing-grid-view1.html" class="ctg-title">Hotel</a>
                </li>
                <li class="d-none d-lg-block">
                    <p>Or Browse The Highlights</p>
                    <div class="item-img">
                        <img src="/Images/figure/arrow.png" alt="Arrow">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>